<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-boolzapp</title>
    <!-- BOOTSTRAP LINK -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- FA LINK -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- ROBOTO FONT LINK -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <!-- CSS LINK -->
    <link rel="stylesheet" href="./assets/css/style.css">

</head>

<body class="debug">
    <div id='app'>
        <div class="wrapper">
            <div class="left">
                <div class="user">
                    <div class="me">
                        <div class="avatar">
                            <img :src="`./assets/img/avatar${me.avatar}.jpg`" alt="">
                        </div>
                        <div class="name">{{me.name}}</div>
                    </div>
                    <div class="actions">
                        <i class="fa-solid fa-circle-notch fa-lg fa-fw me-2"></i>
                        <i class="fa-solid fa-message fa-lg fa-fw me-2"></i>
                        <i class="fa-solid fa-ellipsis-v fa-lg fa-fw"></i>
                    </div>
                </div>
                <!-- /.user -->
                <div class="notifications">
                    <div class="bell">
                        <i class="fa-solid fa-bell-slash fa-lg fa-fw"></i>
                    </div>
                    <div class="text">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <a href="#">
                            Attiva notifiche desktop
                        </a>
                    </div>
                </div>
                <!-- /.notifications -->


                <!-- TODO: BACKGROUND COLOR NEED FIXING -->



                <div class="search_bar border my-1 mx-2 p-2 rounded-0 bg-white">
                    <button class="border-0 bg-transparent w-15"><i class="fa-solid fa-magnifying-glass "></i></button>
                    <input type="text" class="border-0 bg-white w-75"
                        placeholder="cerca o inizia una nuova chat" v-model="userToBeFound" @keyup="searchUser()">

                </div>

                <!-- /.search_bar -->
                <div class="contacts activeChat">
                    <template v-for="(contact, i) in contacts" @click="showActiveContact(i)" :class="i === activeContact ? 'active' : '' ">

                        <div class="d-flex contact" v-if="contact.visible === true">

                            <div class="avatar">
                                <img :src="`./assets/img/avatar${contact.avatar}.jpg`" alt="">
                            </div>
                            <div class="text">
                                {{contact.name}}
                            </div>
                            <span class="lastMsgSent">
                                {{contact.messages[contact.messages.length - 1].message}}
                            </span>
                            <div class="lastMsg">
                                <span class="timeMsg">12:00</span>
                            </div>



                        </div>
                    </template>
                    <!-- ./contact -->



                </div>
                <!-- /.contacts -->
            </div>
            <!-- /.left -->
            <div class="right">
                <div class="active_contact">


                    <div class="contact_details">
                        <div class="avatar">
                            <img :src="`./assets/img/avatar${contacts[activeContact].avatar}.jpg`" alt="">
                        </div>
                        <div class="name">{{contacts[activeContact].name}}</div>
                    </div>
                    <div class="actions">
                        <i class="fa-solid fa-circle-notch fa-lg fa-fw"></i>
                        <i class="fa-solid fa-comment fa-lg  fa-fw"></i>
                        <i class="fa-solid fa-ellipsis-v fa-lg fa-fw"></i>
                    </div>

                </div>
                <!-- /.active_contact -->
                <div class="messages">
                    <div v-for="message in contacts[activeContact].messages"
                        :class="message.status === 'sent' ? 'sent' : 'received'">
                        <div :class="message.status === 'sent' ? 'sent' : 'received'">
                            <!-- !!!!!!!!!!!!!!!!da rivedere data!!!!!!!!!!!!!!!!!! -->

                            <p>{{message.message}}</p>
                            <div class="whenSent d-flex justify-content-end">
                                {{message.date}}
                            </div>
                        </div>

                    </div>


                </div>
                <!-- /.messages -->
                <div class="toolbar">
                    <div class="emoji">
                        <i class="fa-solid fa-smile fa-lg fa-fw"></i>
                    </div>
                    <input type="text" class="text_area" placeholder="Scrivi un messaggio" v-model="newMsgToSend"
                        @keyup.enter="sendMessage">
                    <div class="mic">
                        <i class="fa-solid fa-microphone fa-lg fa-fw"></i>
                    </div>
                </div>
                <!-- /.toolbar -->
            </div>
            <!-- /.right -->
        </div>
    </div>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
    <!-- VUEJS LINK -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- MY VUEJS LINK -->
    <script src='./assets/js/main.js'></script>
</body>

</html>